<a href="https://colab.research.google.com/github/appletiger0704/Missing_Values01/blob/main/Missing_Values01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import pandas as pd
import numpy as np

raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'],
       'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'],
       'age': [42, np.nan, 36, 24, 73],
       'sex': ['m', np.nan, 'f', 'm', 'f'],
       'preTestScore': [4, np.nan, np.nan, 2, 3],
       'postTestScore': [25, np.nan, np.nan, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])

# Drop missing observations
print(df.dropna())

# Drop rows where all cells in that row is NA
print(df.dropna(how='all'))

# Create a new column full of missing values
df['missing_value'] = [np.nan for i in range(len(df.index))]
print(df)

# Fill in missing data with zeros
print(df.fillna(0))

# Fill in missing in preTestScore with the mean value of preTestScore
df["preTestScore"].fillna(df["preTestScore"].mean(), inplace=True)
print(df)

# Fill in missing in postTestScore with each sexâ€™s mean value of postTestScore
df["postTestScore"].fillna(df["postTestScore"].mean(), inplace=True)
print(df)

# Select some rows but ignore the missing data points
df_filter = df.dropna(subset=["first_name", "last_name"])
df_filter

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0

In [ ]:
# Drop missing observations
print(df.dropna())

# Drop rows where all cells in that row is NA
print(df.dropna(how='all'))

# Create a new column full of missing values
df['missing_value'] = [np.nan for i in range(len(df.index))]
print(df)

# Fill in missing data with zeros
print(df.fillna(0))

# Fill in missing in preTestScore with the mean value of preTestScore
df["preTestScore"].fillna(df["preTestScore"].mean(), inplace=True)
print(df)

# Fill in missing in postTestScore with each sexâ€™s mean value of postTestScore
df["postTestScore"].fillna(df["postTestScore"].mean(), inplace=True)
print(df)

# Select some rows but ignore the missing data points
df_filter = df.dropna(subset=["first_name", "last_name"])
df_filter

Empty DataFrame
Columns: [first_name, last_name, age, sex, preTestScore, postTestScore, missing_value]
Index: []
  first_name last_name   age  sex  preTestScore  postTestScore  missing_value
0      Jason    Miller  42.0    m           4.0      25.000000            NaN
1        NaN       NaN   NaN  NaN           3.0      52.333333            NaN
2       Tina       Ali  36.0    f           3.0      52.333333            NaN
3       Jake    Milner  24.0    m           2.0      62.000000            NaN
4        Amy     Cooze  73.0    f           3.0      70.000000            NaN
  first_name last_name   age  sex  preTestScore  postTestScore  missing_value
0      Jason    Miller  42.0    m           4.0      25.000000            NaN
1        NaN       NaN   NaN  NaN           3.0      52.333333            NaN
2       Tina       Ali  36.0    f           3.0      52.333333            NaN
3       Jake    Milner  24.0    m           2.0      62.000000            NaN
4        Amy     Cooze  73.0    f           3.0      70.000000            NaN
  first_name last_name   age sex  preTestScore  postTestScore  missing_value
0      Jason    Miller  42.0   m           4.0      25.000000            0.0
1          0         0   0.0   0           3.0      52.333333            0.0
2       Tina       Ali  36.0   f           3.0      52.333333            0.0
3       Jake    Milner  24.0   m           2.0      62.000000            0.0
4        Amy     Cooze  73.0   f           3.0      70.000000            0.0
  first_name last_name   age  sex  preTestScore  postTestScore  missing_value
0      Jason    Miller  42.0    m           4.0      25.000000            NaN
1        NaN       NaN   NaN  NaN           3.0      52.333333            NaN
2       Tina       Ali  36.0    f           3.0      52.333333            NaN
3       Jake    Milner  24.0    m           2.0      62.000000            NaN
4        Amy     Cooze  73.0    f           3.0      70.000000            NaN
  first_name last_name   age  sex  preTestScore  postTestScore  missing_value
0      Jason    Miller  42.0    m           4.0      25.000000            NaN
1        NaN       NaN   NaN  NaN           3.0      52.333333            NaN
2       Tina       Ali  36.0    f           3.0      52.333333            NaN
3       Jake    Milner  24.0    m           2.0      62.000000            NaN
4        Amy     Cooze  73.0    f           3.0      70.000000            NaN

  first_name last_name   age sex  preTestScore  postTestScore  missing_value
0      Jason    Miller  42.0   m           4.0      25.000000            NaN
2       Tina       Ali  36.0   f           3.0      52.333333            NaN
3       Jake    Milner  24.0   m           2.0      62.000000            NaN
4        Amy     Cooze  73.0   f           3.0      70.000000            NaN